# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file = pd.read_csv("../output_data/cities.csv")
vacation_df = pd.DataFrame(file)
vacation_df = vacation_df.rename(columns={"Unnamed: 0": "City ID"})
vacation_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Ushuaia,20,AR,1577993539,71,-54.81,-68.31,53.60,25.28
1,1,Katsuura,75,JP,1577993539,75,33.93,134.50,48.00,4.70
2,2,Verkhnyaya Inta,60,RU,1577993539,89,65.99,60.32,2.43,6.82
3,3,Vaini,0,IN,1577993539,92,15.34,74.49,63.45,1.28
4,4,Jamestown,49,AU,1577993539,16,-33.21,138.60,75.13,15.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
locations = vacation_df[["Lat", "Lng"]]
humidity = vacation_df["Humidity"]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                )
fig.add_layer(heat_layer)
fig
#fig.savefig("../Images/HeatMap.png")

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
summarized_df = vacation_df
summarized_df = summarized_df.loc[(summarized_df["Max Temp"] >= 70) & (summarized_df["Max Temp"] <= 80)]
summarized_df = summarized_df.loc[summarized_df["Wind Speed"] <= 10]
summarized_df = summarized_df.loc[summarized_df["Cloudiness"] == 0]
summarized_df = summarized_df.drop(["City ID"], axis=1)
summarized_df.reset_index(drop=True, inplace=True)
summarized_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Pathein,0,MM,1577993541,80,16.78,94.73,73.83,6.15
1,Cabo San Lucas,0,MX,1577993508,47,22.89,-109.91,73.00,8.99
2,Naze,0,NG,1577993546,50,5.43,7.07,77.00,7.00
3,Batticaloa,0,LK,1577993547,94,7.71,81.69,73.87,1.79
4,Pyapon,0,MM,1577993549,70,16.29,95.68,71.42,6.62
5,Mumford,0,GH,1577993550,52,5.26,-0.76,75.96,2.55
6,Soubre,0,CI,1577993550,31,5.79,-6.61,75.22,2.06
7,Deniliquin,0,AU,1577993568,36,-35.53,144.96,71.10,7.67

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = summarized_df
hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Pathein,0,MM,1577993541,80,16.78,94.73,73.83,6.15,
1,Cabo San Lucas,0,MX,1577993508,47,22.89,-109.91,73.00,8.99,
2,Naze,0,NG,1577993546,50,5.43,7.07,77.00,7.00,
3,Batticaloa,0,LK,1577993547,94,7.71,81.69,73.87,1.79,
4,Pyapon,0,MM,1577993549,70,16.29,95.68,71.42,6.62,
5,Mumford,0,GH,1577993550,52,5.26,-0.76,75.96,2.55,
6,Soubre,0,CI,1577993550,31,5.79,-6.61,75.22,2.06,
7,Deniliquin,0,AU,1577993568,36,-35.53,144.96,71.10,7.67,

In [7]:
for index, row in hotel_df.iterrows():
    params = {
    "types": "Hotel",
    "keyword": "Lodging",
    "radius": 5000,
    "key": g_key,
    }
    
    lat = row["Lat"]
    lng = row["Lng"]
    location = f"{lat}, {lng}"
    params["location"] = location
    #print(params)
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    query_url = requests.get(url, params)
    response = query_url.json()
    hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    
#pprint(response)

In [8]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Pathein,0,MM,1577993541,80,16.78,94.73,73.83,6.15,Golden Bridge
1,Cabo San Lucas,0,MX,1577993508,47,22.89,-109.91,73.00,8.99,"The Cape, a Thompson Hotel"
2,Naze,0,NG,1577993546,50,5.43,7.07,77.00,7.00,Protea Hotel by Marriott Owerri Select
3,Batticaloa,0,LK,1577993547,94,7.71,81.69,73.87,1.79,Naval Beach Villa
4,Pyapon,0,MM,1577993549,70,16.29,95.68,71.42,6.62,တိုက်သစ်ကျောင်း ပရိယတ္တိစာသင်တိုက်ကြီး
5,Mumford,0,GH,1577993550,52,5.26,-0.76,75.96,2.55,Blue Diamond Beach Resort
6,Soubre,0,CI,1577993550,31,5.79,-6.61,75.22,2.06,HÔTEL SAINTE EMMANUELLE
7,Deniliquin,0,AU,1577993568,36,-35.53,144.96,71.10,7.67,Deniliquin Motel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
#fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
#fig.savefig("../Images/Markers.png")
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))